@{
    ViewBag.Title = "Lê Thương Hoài Thu";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Bài Kiểm Tra Giữa Kỳ Của Thu - Cam kết không copy</h3>

    <address>
       K22Cnt1 - Môn Lập Trình Ứng Dụng Web Với Công Nghệ Asp.Net MVC5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Lehoaithu3@gmail.com">Lehoaihu@gmail.com</a><br />
        <strong>Cá nhân:</strong> <a href="mailto:Lehoaithu@gmail.com"Lehoaithu@gmail.com</a>
    </address>
</main>