@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p> Thông Tin  </p>
</main>
<pre>
    Ma sinh vien:2210900126
    Ho ten: Le Thuong Hoai Thu
    Ngay sinh:4/8/2003
    Dien thoai:09126000000
    Email:12345@gmail.com
</pre>